/.idea/vcs.xml
/api/app.key
/frontend/node_modules
/nginx/2020apache_ssl_cert
/nginx/cert
/nginx/ssl
/nginx/container_log
/nginx/*.crt
/nginx/*.key
/devhoonse_gomata_0511.pem
/gomata_demoserver.ppk
/github.token
/api/static/data_collection/data
/api/static/data_collection/ref
/api/static/data_collection/src
*.swp
.DS_Store
